.splide__pagination {
    display: none;
}

.splide__arrow--prev {
    left: 50em;
}
.splide__arrow--next {
    right: 4em;
}

@media (min-width: 768px) {
    .md\:w-1\/2 {
      width: 100%;
    }
  
    .md\:text-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  
    .md\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  
    .md\:text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }